body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

button {
    background-color: #27aa9f;
    padding: 13px 30px;
    
    border: 0px solid black;
    border-radius: 5em;

    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 1.6vmin;
    font-weight: 500;
    color: white;
}

button:hover {
    background-color: rgb(80, 220, 210);
}

#burger {
    display: none;
    margin: 16px;
}

#burger div {
    width: 30px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
}

#shadow {
    background-color: rgba(26, 26, 26, 0.7);
}

#start {
    display: flex;
    flex-direction: column;

    background-image: url('assets/banner2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: black;

    color: white;
}

#logo {
    background-image: url('assets/bedford.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    width: 150px;

    margin: 16px;

    /* Hide the text. */
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#links {
    display: flex;
    white-space: nowrap;
    margin: 32px;
}

#links a {
    margin: 16px;
    color: white;
    text-transform: uppercase;
    text-decoration: none;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;
}

#links button {
    background-color: rgba(0,0,0, 0.0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 2px;

    border: 2px solid white;
}

#links button:hover {
    background-color: white;
    color: black;
}

#top {
    display: flex;
    justify-content: space-between;
}

#banner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 550px;
    text-align: center;
}

#banner p {
    margin: 0;
    font-family: 'Sansita Swashed', cursive;
    font-style: italic;
    font-size: 24px;
}

#banner h1 {
    margin: 24px;
    font-size: 68px;
    font-family: Arial, Helvetica, sans-serif;
}

#banner button {
    font-weight: 600;
    letter-spacing: 2px;
}

#first-card {
    text-align: center;
    margin: 44px;
}

#first-card h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

#first-card p {
    font-size: 18px;
    color: rgba(26, 26, 26, 0.7)
}

#photography {
    font-size: 22px;
    font-family: 'PT Sans Narrow', sans-serif;
}

#photography a {
    color: rgb(61, 153, 145);
    text-decoration: none;
}

.card {
    max-width: 960px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 40px;
}

.card h3 {
    color: rgba(189, 189, 189);
    letter-spacing: 2px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2.5vmin;
    font-weight: 600;
}

.card p {
    font-family: 'Raleway', sans-serif;
    color: rgba(0,0,0, 0.68);
    font-weight: 500;
    font-style: normal;
    line-height: 1.5em;
    font-size: 2.5vmin;
}

.two-column {
    display: flex;
}

.card-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 50%;
    text-align: center;
    height: 25vw;
}

.card-text h3 {
    text-transform: uppercase;
}

#photo1 {
    background-image: url('assets/photo1.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 25vw;
    flex: 50%;
}

#photo2 {
    background-image: url('assets/photo2.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    flex: 50%;
}

#subscribe-box {
    background-color: rgb(247, 247, 247);
}

#subscribe-content {
    max-width: 800px;
    margin: auto;
    padding: 40px;
    text-align: center;
}

#subscribe-content h3 {
    font-size: 30px;
    font-weight: 600;
    font-family: sans-serif;
    text-transform: uppercase;
    color: black;
}

#subscribe-content p {
    font-size: 15px;
    font-family: Georgia, serif;
    font-weight: 400;
    color: rgb(39, 39, 39);
}

#email {
    display: flex;
    justify-content: center;
    margin: 24px;
}

#subscribe-content input {
    background-color: white;
    color: lightgrey;
    border: 1px solid lightgrey;
    height: 50px;
    width: 240px;
    padding: 20px;
    box-sizing: border-box;
    margin: 5px;
}

#subscribe-content button {
    background-color: #1f1f1f;
    border: none;
    border-radius: 0;
    height: 50px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
    white-space: nowrap;
    margin: 5px;
}

footer {
    background-color: #1f1f1f;
    color: rgba(255, 255, 255, 0.8);
    letter-spacing: 2px;
    text-align: center;
    font-family: sans-serif;
    font-size: 14px;
}

footer a {
    text-decoration: none;
    color:rgba(255, 255, 255, 0.8);
}

#footer-content {
    padding: 50px;
}

#powered {
    padding: 16px;
    color: rgba(255, 255, 255, 0.4);
    font-family: sans-serif;
    letter-spacing: normal;
}

#powered a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: underline;
}


@media (max-width: 620px) {
    #banner p {
        font-size: 16px;
    }
    
    #banner h1 {
        font-size: 36px;
    }
}


@media (max-width: 720px) {
    #links {
        display: none;
    }

    #burger {
        display: block;
    }
}